.features-section .features-div span {
  color: var(--verygray);
  font-weight: bold;
  font-size: 20px;
}
.features-section .features-div img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width:650px) {
    .features-section .features-div span{
        font-size: 18px;
    }
    .features-section .features-div img {
        width: 50px;
        height: 50px;
    }
}