.header-section {
  width: 100%;
  position: fixed;
  background-color: #f4f6fc!important;
  padding: 10px 0;
}
.header-section .navlink {
  cursor: pointer;
  font-weight: 600;
  color: var(--gray);
}
.header-section .linksAboveMd .navlink {
  margin: 10px;
}

.header-section .selectLan{
  outline: none;
  border: 0px;
  background: none;
}